.sidebar {
  background-color: inherit;
  width: 200px;
}

.search_font {
  padding-right: 12px !important;
}

.sidebar a {
  padding: 12px !important;
  font-weight: 600;
  cursor: pointer;
}

.sidebar a:hover,
.search_font:hover {
  color: #0297d5;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
    z-index: 5;
  }
}
